nzbdrone*
log*
radarr/config/MediaCover/
.env
jackett/config/Jackett/log.txt
.mono
sonarr/config/MediaCover/
updater.txt
Backups
jackett/config/Jackett/DataProtection/
jackett/config/Jackett/Indexers/
